#wpadminbar {
	display: none !important;
}

#slideshow > div {
	// position: absolute;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}