/* Typography variables */
$font-family--1: 'Roboto', sans-serif;;
$font-family--2: 'Teko', sans-serif;

$font-light: 300;

/* Typography rules */
* {
}

h1, h2, h3, h4, h5, h6, p, span, a {
	font-family: $font-family--1;
}

a {
	display: inline-block;
}

p {
	margin: 0;

	& + p {
		margin-top: $baseline;
	}
}

.logo {
	@extend .uppercase;
	font-family: $font-family--2;

	a {
		font-family: inherit;
	}
}


.type-mini {
	@include remFont(12);
	font-weight: $font-light;
}

.type-small {
	@include remFont(14);
	font-weight: $font-light;
}

.type-medium {
	@include remFont(18);
	font-weight: normal;
}

h4 {
	@extend .uppercase;
	color: $blue-corporate;
}

@media screen and (min-width: $tablet) {
	
	.logo {
		@include remFont(36);
	}
}