$baseline: 20px;
$tablet: 768px;
$desktop: 1024px;
$limit--center: $desktop;

/*-- COLORS --*/
	$color-link: #0b74b7;
	$color-link--inverted: white;
	$blue-corporate: #0b74b7;
	$blue-corporate--lighter: #0D89D9;
	$blue-corporate--light: #10a2ff;

/*-- FOMTS --*/