.top-bar {
	background-color: rgba(0,0,0,.3);
	padding: $baseline/8 0;
	color: white;

	position: absolute;
	width: 100%;

	p {
		@include remFont(12);
		display: inline-block;
		margin: 0;
		vertical-align: text-bottom;
		
		&:not(:first-child) {
			border-left: 1px solid;
			padding-left: $baseline/2;
		}
	}
}