header {
/*
	background-image: url('../img/collserola.jpg');
	background-size: cover;
	background-position: 0 -300px;
*/

	background: rgba(11,117,183,1);
	background: -moz-linear-gradient(-45deg, rgba(11,117,183,1) 0%, rgba(11,117,183,0.6) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(11,117,183,1)), color-stop(100%, rgba(11,117,183,0.6)));
	background: -webkit-linear-gradient(-45deg, rgba(11,117,183,1) 0%, rgba(11,117,183,0.6) 100%);
	background: -o-linear-gradient(-45deg, rgba(11,117,183,1) 0%, rgba(11,117,183,0.6) 100%);
	background: -ms-linear-gradient(-45deg, rgba(11,117,183,1) 0%, rgba(11,117,183,0.6) 100%);
	background: linear-gradient(135deg, rgba(11,117,183,1) 0%, rgba(11,117,183,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b75b7', endColorstr='#0b75b7', GradientType=1 );


	.hamburger {
		float: right;
		transform: translateY(-100%);
		position: absolute;
		right: 0;
		top: $baseline*4 + 4;
	}
}
@media screen and (min-width: $tablet ) {
	
	header {

		.hamburger {
			display: none;
		}
	}
}